.lights {
   display: flex;
   flex-direction: row;
   justify-content: center;
}
   
.lamp{
    background-color:#d2691e;
    width:100px;
    height:50px;
    border-bottom-right-radius:250px;
    border-bottom-left-radius:250px;
}
    
.light{
    height:26px;
    width:14px;
    background-color:yellow;
    border-radius:50%;
    border: 1px solid red
}

.actions {
    margin: 15px;
}

.actions .icon  {
    cursor: pointer;
}
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
}